/*//////////////////////////////////////////*/
/*general settings*/
* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  background: #202441;
}
/*end general settings*/




/*//////////////////////////////////////////*/
/*header*/

/*end header*/




/*//////////////////////////////////////////*/
/*navabar*/
.navbar {
  top: 0;
  left: 0;
  right: 0;
  margin-left: 2%;
  margin-right: 2%;
  padding-top: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  width: 55%;
  justify-content: center;
  padding-top: 20px;
}

.navbar ul li {
  list-style: none;
  margin-right: 2%;
  margin-left: 2%;
}

.navbar ul li a {
  color: #FBFBFB;
  text-decoration: none;
  outline: none;
}

.navbar .fas:hover {
  transition: 500ms;
	font-size: 45px;
}

.navbar .fas {
  color: #fbfbfb;
  font-size: 40px;
  margin-top: 10px;
}

.navbar .icon{
	width: 100px;
}

.navbar .categories ul{
	width: 500px;
}

.navbar .categories ul li a:hover{
	font-size: 20px;
	transition: 0.5s;
}
/*end navabar*/




/*//////////////////////////////////////////*/
/*main*/

/*end main*/




/*//////////////////////////////////////////*/
/*video*/

/*end video*/




/*//////////////////////////////////////////*/
/*poster*/

/*end poster*/




/*//////////////////////////////////////////*/
/*footer*/
.all-foot {
    display: flex;
    justify-content: space-around;
    margin: 0 80px 0 80px;
    background-color: #202441;
    height: 200px;
}

.socials h4{
    color: #fbfbfb;
    text-align: center;
}

.socials .icon{
    font-size: 30px;
    padding-top: 15px;
    color: #fbfbfb;
    padding-top: 20px;
    word-spacing: 10px;
}

.icon a {
    text-decoration: none;
    color: #fbfbfb;
    outline: none;
}

.copyright a {
    text-decoration: none;
    color: #fbfbfb;
    outline: none;
}

.copyright {
    color:#fbfbfb;
    text-align: center;
}

.partners {
    color:#fbfbfb;
}

.partners h4{
    text-align: center;
}

.gifts  {
    text-align: center;
}

.gifts a {
    text-decoration: none;
    color: #fbfbfb;
    outline:none;
}

.img-flex{
    display: flex;
    justify-content: space-around;
}


.canal {
    width: 60px;
    height: 40px;
}

.netflix {
    width: 120px;
    height: 80px;
}

.amazon {
    width: 60px;
    height: 40px;
}

.youtubered {
    width: 130px;
    height: 30px;
}

.ytr-div {
    padding-top: 25px;
}
/*end footer*/
