/*//////////////////////////////////////////*/
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
/*general settings*/
* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}

body {
  background: #000;
}
/*end general settings*/


/*//////////////////////////////////////////*/
/*header*/

/*end header*/




/*//////////////////////////////////////////*/
/*navabar*/
.navbar {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 49px;
  padding-top: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  background-color: rgba(30,30,30,0.5);
}

.navbar ul {
  display: flex;
  flex-direction: row;
  width: 55%;
  justify-content: center;
  padding-top: 12px;
}

.navbar ul li {
  list-style: none;
  margin-right: 2%;
  margin-left: 2%;
}

.navbar ul li a {
  color: #C7260A;
  text-decoration: none;
  outline: none;
}

.navbar .fas:hover {
  transition: 500ms;
	font-size: 45px;
}

.navbar .fas {
  color: #fbfbfb;
  font-size: 40px;
  margin-top: 1px;
}

.navbar .icon{
	width: 100px;
}

.navbar .categories ul{
	width: 500px;
}

.navbar .categories ul li a:hover{
	font-size: 20px;
	transition: 0.5s;
}

.navbar .logo{
  margin-top: 1%; 
  margin-left: 1%;
}

.navbar .logo img{
  width: 80px;
  height: 40px;
}
/*end navabar*/




/*//////////////////////////////////////////*/
/*video*/
#back-video {
  position: relative;
  height: 555px;
  overflow: hidden;
}

#back-video video {
  width: 100%;
  position: absolute;
  top: -100px;
  left: 0px;
}
/*end video*/




/*//////////////////////////////////////////*/
/*main*/
#main {
    display: row;
    width: 100%;
    overflow: hidden;
}
/*end main*/




/*//////////////////////////////////////////*/
/*slider*/
.slider {
	position: relative;
}
.slider .wrapper {
    position: relative;
    margin: 100px 0px;
		/*decal sur la gauche pour afficher en premier la seconde page*/
		margin-left: calc(-100% + 10px);
    display: flex;
		width: calc(400% + 188px);
		flex-wrap: nowrap;
		transition: all 1s;
}
.slider .slideTitle {
    position: absolute;
		left: 0px;
		top: -40px;
		font-size: 20px;
		color: #817882;
}
.slider .wrapper .video {
    position: relative;
    width: 188px;
    height: 120px;
    margin: 0px 2px;
    transition: all 0.3s 0.2s;
}
.slider .wrapper .video img {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
}
.slider .wrapper .video .movie {
		opacity: 1;
}
.slider .wrapper .video .movie-hover {
    opacity: 0;
    transition: all 0.7s 0.2s;
}
.slider .wrapper .video:hover {
    width: calc(188px * 2);
    height: calc(120px * 2);
    margin-top: calc(-120px / 2);
}
.slider .wrapper .video:hover .movie-hover {
		opacity: 1;
}
/*les fleches*/
/*camouflage des boutons radio*/
.slider input {
	display: none;
}
/*dessin des fleches pour les slides du milieu*/
.slider .btn {
	position: absolute;
	top: 0px;
	width: 50px;
	height: 120px;
	background-color: transparent;
	opacity: 1;
	z-index: 2;
	transition: all 0.5s;
}
.slider .leftbtn {
	left: 10px;
}
.slider .rightbtn {
	right: 10px;
}
/*dessin des fleches pour les slides du bord*/
.slider .leftbrd {
	z-index: 1;
	background-color: rgba(150, 150, 150, 0.5);
}
.slider .leftbrd:after {
	content: "";
	position: absolute;
	top: 45px;
	left: 15px;
	width: 0px;
	height: 0px;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 20px solid rgba(250, 250, 250, 0.8);
}
.slider .rightbrd {
	z-index: 1;
	background-color: rgba(150, 150, 150, 0.5);
}
.slider .rightbrd:after {
	content: "";
	position: absolute;
	top: 45px;
	right: 15px;
	width: 0px;
	height: 0px;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 20px solid rgba(250, 250, 250, 0.8);
}
/*l'apparition des fleches au hover*/
.slider:hover .btn {
	opacity: 1;
}
/*apparence au check*/
.slider input:checked + .btn {
	display: none;
}
/*le deplacement du slide avec les fleches*/
/*entre les slides du milieu*/
.slider input#right:checked ~ .wrapper {
		margin-left: calc(-200% + 20px);
}
/*entre les slides du bord*/
.slider .leftbrd:focus ~ .wrapper {
	animation: 1s slideright;
}
.slider .rightbrd:focus ~ .wrapper {
	animation: 1s slideleft;
}
@keyframes slideleft {
	0% {margin-left: calc(-300% + 30px);}
	100% {margin-left: calc(-200% + 20px);}
}
@keyframes slideright {
	0% {margin-left: 0%;}
	100% {margin-left: calc(-100% + 10px);}
}

/*end slider*/




/*//////////////////////////////////////////*/
/*poster*/

/*end poster*/




/*//////////////////////////////////////////*/
/*footer*/
.all-foot {
    display: flex;
    justify-content: space-around;
    margin: 0 80px 0 80px;
    background-color: #000;
    height: 200px;
}

.socials h4{
    color: #817882;
    text-align: center;
}

.socials .icon{
    font-size: 30px;
    padding-top: 15px;
    color: #817882;
    padding-top: 40px;
    word-spacing: 10px;
}

.icon a {
    text-decoration: none;
    color: #817882;
    outline: none;
}

.copyright a {
    text-decoration: none;
    color: #817882;
    outline: none;
}

.copyright {
    color:#817882;
    text-align: center;
}

.copyright p {
    padding-top: 50px;
}

.partners {
    color:#817882;
}

.partners h4{
    text-align: center;
}

.gifts h4 {
    text-align: center;
    color: #817882;
}

.gift-icon  {
    text-align: center;
    font-size: 50px;
    padding-top: 40px;
}

.gift-icon a {
    text-decoration: none;
    color: #817882;
    outline:none;
}

.img-flex{
    display: flex;
    justify-content: space-around;
}

.img-partners {
    padding-top: 30px;
}

.canal {
    width: 60px;
    height: 40px;
}

.netflix {
    width: 120px;
    height: 80px;
}

.amazon {
    width: 60px;
    height: 40px;
}

.youtubered {
    width: 130px;
    height: 30px;
}

.ytr-div {
    padding-top: 25px;
}
/*end footer*/
